**Praktik Regex 1**

Aku memberikan tugas dan meminta Sunyi memikirkan sintaks untuk membuat kolom baru bernama pencatat_senja berisi nilai kebenaran dari nama petugas pencatat pada kolom staf_pencatat di dataframe dqlabregex dengan nama Senja atau Sendja. Namun pikirkan baik-baik notasi regex yang akan digunakan, sebisa mungkin notasi yang diketikkan sesuai juga dengan teks SenDja, Sen_ja, dan sebagainya yang memungkinkan. Tampilkan kolom staf_pencatat dan pencatat_senja untuk mengetahui hasilnya.

In [4]:
#Import library yang dibutuhkan
import pandas as pd

#Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep = '\t')

#Buat kolom baru pencatat_senja
dqlabregex['pencatat_senja'] = dqlabregex['staf_pencatat'].str.contains('Sen.?ja')

#Tampilkan hasilnya
print(dqlabregex[['staf_pencatat','pencatat_senja']])

  staf_pencatat  pencatat_senja
0         Andra           False
1         Andra           False
2        Antara           False
3        Antara           False
4         Senja            True
5        Sendja            True

**Praktik Regex 2**

Pada kolom jumlah_member di tabel dqlabregex, jumlah menunjukkan kuantitas yang artinya hanya angka saja (numerik) yang boleh menjadi isi rownya (record data). Namun pada tabel tersebut terdapat kesalahan pengetikan / penginputan data sehingga terdapat karakter non-numerik pada kolom jumlah_member.

Kali ini aku meminta Sunyi untuk memeriksa dan menampilkan kesalahan input data pada kolom tersebut. "Nyi, coba kamu buat sebuah sintaks yang menampilkan kesalahan penulisan angka pada kolom jumlah_member lalu beri nama dengan char_nonnumerik. Tampilkan kolom jumlah_member dan char_nonnumerik untuk mengetahui hasilnya." Sunyi mengangguk dan kembali mengetikkan kode nya.

In [6]:
import pandas as pd

# Baca data dan buat kolom char_nonnumerik untuk mendeteksi karakter non-numerik
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep='\t')
dqlabregex['char_nonnumerik'] = dqlabregex['jumlah_member'].str.contains(r'\D')

# Tampilkan hasil
print(dqlabregex[['jumlah_member', 'char_nonnumerik']])

  jumlah_member  char_nonnumerik
0           311            False
1           1I2             True
2           5S0             True
3           670            False
4           81O             True
5           1O2             True

**Praktik 3**

Kali ini Sunyi ingin menghapus kesalahan input data pada kolom jumlah_member yang terdapat pada dataframe dqlabregex. Caranya dengan membuat sebuah sintaks untuk menghapus karakter non-numerik pada kolom tersebut atau dengan kata lain ubah karakter non-numerik menjadi string kosong.

In [8]:
#Import library yang dibutuhkan
import pandas as pd

#Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep = '\t')

#Sintaks menghapus karakter non-numerik pada kolom jumlah_member
dqlabregex['jumlah_member'] = dqlabregex['jumlah_member'].str.replace('[^0-9]', '')

#Tampilkan hasilnya
print(dqlabregex[['jumlah_member']])

  jumlah_member
0           311
1           1I2
2           5S0
3           670
4           81O
5           1O2

**Praktikum 4**

Sunyi memperhatikan tabel dqlabregex, pada kolom tanggal_catat ternyata format tanggal pada baris pertama dan kedua berbeda dengan lainnya. Untuk merapikannya, aku memutuskan untuk merubah standarisasi penulisan tanggal DD-MM-YYYY (tanggal - bulan - tahun) menjadi MM/DD/YYYY (bulan / tanggal / tahun) agar seragam.

In [9]:
#Import library yang dibutuhkan
import pandas as pd

#Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep = '\t')

#Sintaks merapikan format tanggal pada kolom tanggal_catat
dqlabregex['tanggal_catat'] = dqlabregex['tanggal_catat'].str.replace('([0-9]{2})-([0-9]{2})-([0-9]{4})','\\2/\\1/\\3')

#Tampilkan hasilnya
print(dqlabregex[['tanggal_catat']])

  tanggal_catat
0    01-05-2020
1    30-06-2020
2    05/02/2020
3    06/28/2020
4    05/10/2020
5    06/28/2020

**Studi Kasus**

Aku memberikan Sunyi data file https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv, dan tak lupa memberikan instruksi untuk membaca data dan mengganti record pada masing-masing kolom:

Pada kolom tanggal_catat ubah semua format tanggalnya menjadi format tanggal menjadi format YYYY-MM-DD. Lalu ubah tipe datanya menjadi datetime dengan bantuan sintaks (pd.datetime(Series))
Hapus setiap karakter non-numerik pada kolom jumlah_member lalu ubah tipedatanya menjadi integer dengan bantuan sintaks (Series.astype('int'))
Ubah record yang memuat Sendja maupun padanannya menjadi Senja
Penamaan kolom dan urutannya tidak ada yang diubah

In [14]:
# Import library yang dibutuhkan
import pandas as pd

# Baca file dqlabregex.tsv
dqlabregex = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqlabregex.tsv", sep='\t')
print("Tabel A:")
print(dqlabregex)

# Ubah format tanggal agar konsisten menjadi yyyy-mm-dd
mapchange = {
    r'([0-9]{2})-([0-9]{2})-([0-9]{4})': r'\3-\2-\1',
    r'([0-9]{2})/([0-9]{2})/([0-9]{4})': r'\3-\1-\2'
}

for pola, pengganti in mapchange.items():
    dqlabregex['tanggal_catat'] = dqlabregex['tanggal_catat'].str.replace(pola, pengganti, regex=True)

# Ubah menjadi tipedata datetime, aman dengan errors='coerce'
dqlabregex['tanggal_catat'] = pd.to_datetime(dqlabregex['tanggal_catat'], errors='coerce')

# Hapus karakter non numerik pada kolom jumlah_member dan ubah tipedatanya menjadi integer
dqlabregex['jumlah_member'] = dqlabregex['jumlah_member'].str.replace('[^0-9]', '', regex=True).astype(int)

# Ubah variasi penulisan Sendja menjadi Senja
dqlabregex['staf_pencatat'] = dqlabregex['staf_pencatat'].str.replace(r'Sen.?ja', 'Senja', regex=True)

# Tampilkan hasil akhir
print("\nTabel B:")
print(dqlabregex)

Tabel A:
   no_pencatatan tanggal_catat      kota jumlah_member staf_pencatat
0              1    01-05-2020   Jakarta           311         Andra
1              2    30-06-2020   Jakarta           1I2         Andra
2              3    05/02/2020   Bandung           5S0        Antara
3              4    06/28/2020   Bandung           670        Antara
4              5    05/10/2020  Semarang           81O         Senja
5              6    06/28/2020  Semarang           1O2        Sendja

Tabel B:
   no_pencatatan tanggal_catat      kota  jumlah_member staf_pencatat
0              1    2020-05-01   Jakarta            311         Andra
1              2    2020-06-30   Jakarta             12         Andra
2              3    2020-05-02   Bandung             50        Antara
3              4    2020-06-28   Bandung            670        Antara
4              5    2020-05-10  Semarang             81         Senja
5              6    2020-06-28  Semarang             12         Senja