# **Time Series Analysis**

Time Series Analysis adalah cara khusus untuk menganalisis urutan titik data (*data point*) yang dikumpulkan selama interval waktu tertentu. Data dicatat atau direkam pada interval yang konsisten selama periode waktu tertentu. Selain itu, analisis ini juga menunjukkan bagaimana variabel berubah dari waktu ke waktu.

Time Series Analysis **dapat membantu memprediksi data kedepannya berdasarkan data sebelumnya** (*historical data*). Dengan begitu, Time Series Analysis dapat **membantu untuk memahami penyebab yang mendasari tren atau pola sistemik dari waktu ke waktu.**

Dengan menggunakan visualisasi data, pengguna bisnis dapat melihat tren musiman dan menggali lebih dalam mengapa tren ini terjadi.

Salah satu algoritma penerapan dari *Time Series Analysis*, merupakan model Autoregressive (AR). Model AR memprediksi perilaku masa depan berdasarkan perilaku masa lalu.

Model ini bisa digunakan ketika ada beberapa korelasi antara nilai dalam deret waktu dan nilai yang mendahului dan menggantikannya. Intinya, model AR menggunakan hasil pengamatan yang baru saja dilakukan untuk memprediksi nilai masa depan.

Model lain yang dapat digunakan adalah Moving Average (MA). MA pada dasarnya menyatakan bahwa pengamatan berikutnya adalah rata - rata dari setiap pengamatan sebelumnya.

Dari AR dan MA, kita mengenal ARIMA (*Autoregressive Integrated Moving Average*). Model ARIMA menggunakan nilai masa lalu dan sekarang dari variabel dependen untuk menghasilkan peramalan jangka pendek yang akurat.

In [2]:
#Mengimpor library pandas
import pandas as pd
pd.set_option('display.max_column', 20)

#Membaca file
dataset_retail = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/data_retail.csv', delimiter=';')

#Menampilkan isi data
print(dataset_retail)

#Detil tipe data
dataset_retail.info()

           no  Row_Num  Customer_ID Product  First_Transaction  \
0           1        1        29531   Jaket      1466304274396
1           2        2        29531  Sepatu      1406077331494
2           3        3       141526     Tas      1493349147000
3           4        4       141526   Jaket      1493362372547
4           5        5        37545  Sepatu      1429178498531
...       ...      ...          ...     ...                ...
99995   99996    99996        56249   Jaket      1464780939092
99996   99997    99997        56249  Sepatu      1486619170763
99997   99998    99998        34157   Jaket      1440924860706
99998   99999    99999        34157  Sepatu      1415932948026
99999  100000   100000       188822   Jaket      1540373764125

       Last_Transaction  Average_Transaction_Amount  Count_Transaction
0         1538718482608                     1467681                 22
1         1545735761270                     1269337                 41
2         1548322802000                      310915                 30
3         1547643603911                      722632                 27
4         1542891221530                     1775036                 25
...                 ...                         ...                ...
99995     1464780939092                      298662                  1
99996     1486619170763                      349556                  1
99997     1440924860706                      598013                  1
99998     1415932948026                     1208591                  1
99999     1540373764125                      486710                  1

[100000 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   no                          100000 non-null  int64
 1   Row_Num                     100000 non-null  int64
 2   Customer_ID                 100000 non-null  int64
 3   Product                     100000 non-null  object
 4   First_Transaction           100000 non-null  int64
 5   Last_Transaction            100000 non-null  int64
 6   Average_Transaction_Amount  100000 non-null  int64
 7   Count_Transaction           100000 non-null  int64
dtypes: int64(7), object(1)
memory usage: 6.1+ MB